:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray);
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0px;
  font-size: 16px;
  max-height: 100vh;
  font-family: "Karla", sans-serif;
  border: 2px solid red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > div {
  flex: 1;
  padding: 20px;
}

.services-section {
  background-color: white;
}

.invitation {
  color: var(--cyan);
  padding-bottom: 25px;
}

.money-back {
  color: var(--bright-yellow);
  padding-bottom: 20px;
}

.services {
  line-height: 1.8;
}

.pricing-section {
  background-color: var(--cyan);
}

.subscription {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.pricing {
  line-height: 1.6;
  color: white;
  padding-bottom: 30px;
}

.dollar {
  font-size: 30px;
}

button {
  padding: 20px 100px 20px 80px;
  border-radius: 10px;
  background-color: var(--bright-yellow);
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-align: center;
  width: 270px;
}

.why-us {
  background-color: cyan;
}

.why {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.tutorials {
  line-height: 1.6;
  color: white;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
