:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: var(--light-gray);
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  border: 2px solid red;
}
.first-heading-1 {
  color: var(--cyan);
  padding-bottom: 25px;
}
.first-heading-2 {
  color: var(--bright-yellow);
  padding-bottom: 20px;
}
.first-paragraph {
  line-height: 1.8;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
}
.first-section {
  background-color: white;
  align-items: flex-start;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
}
.second-section {
  background-color: var(--cyan);
  padding-left: 20px;
  padding-bottom: 30px;
}
.dollar {
  font-size: 30px;
}
.second-paragraph {
  line-height: 1.6;
  color: white;
  padding-bottom: 30px;
}
.second-heading {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}
button {
  padding: 20px 180px 20px 180px;
  border-radius: 10px;
  background-color: var(--bright-yellow);
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.third-section {
  flex-grow: 1;
  background-color: cyan;
}
