:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray);
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  border: 2px solid red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 900px;
}

.container > div {
  flex: 1;
  max-height: 100vh;
}

.services-section {
  background-color: white;
  padding: 20px;
}

.invitation {
  color: var(--cyan);
  padding-bottom: 25px;
}

.money-back {
  color: var(--bright-yellow);
  padding-bottom: 20px;
}

.services {
  line-height: 1.8;
}
.sidebyside {
  padding: 0;
}

.pricing-section {
  background-color: var(--cyan);
  padding: 20px;
}

.subscription {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.pricing {
  line-height: 1.6;
  color: white;
  padding-bottom: 30px;
}

.dollar {
  font-size: 30px;
}

a {
  text-decoration: none;
}

button {
  padding: 12px 0px;
  width: 100%;
  background-color: var(--bright-yellow);
  border-radius: 5px;
}

.why-us {
  background-color: cyan;
}

.why {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.tutorials {
  line-height: 1.6;
  color: white;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.attribution {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 667px) {
  .attribution {
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
  }
}
@media (min-width: 740px) {
  .attribution {
    flex-direction: column;
    margin-top: 120px;
    justify-content: center;
  }
}

@media (min-width: 801px) {
  .sidebyside {
    display: flex;
    flex-direction: row;
  }
  .pricing-section {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .why-us {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .attribution {
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
  }
}
@media (min-width: 812px) {
  .container {
    width: 84%;
  }
}
@media (min-width: 1024px) {
  body {
    max-width: 1024px;
  }
  .container {
    max-width: 1024px;
    width: 64%;
  }
}

@media (min-width: 1280px) {
  body {
    padding-right: 0px;
    padding-left: 60px;
  }
  .container {
    width: 60%;
    margin-right: 0px;
    padding-right: 0px;
  }
}
